body
{
    margin: auto 15rem;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: red;
}

.base
{
    margin-top:2rem;
    background-color:#0C1021;
    width:19.8rem;
    height:40rem;
    border-radius: 1.5rem;
}

.header
{
    display: flex;
    flex-direction: row;
}

.time
{
    font-size:10px;
    color:white;
    margin-top: 1rem;
    margin-left:2rem;
}

.icons
{
    margin-left:11.3rem;
    margin-top: 0.2rem; 
}

.icons img
{
    
    width:13px;
    margin-top:10px;
    padding-left: 5px;
}

.battery
{
    filter:  brightness(0) invert(1);
}

span{
    display:block;
    width:6%;
    border-top: 3px solid white;
    margin-left:1rem;
    margin-top:2rem;
 }

 .hl
 {
    margin-top:3px;
 }

 .hl2
 {
    cursor: pointer;
    margin-top:2px;
 }

 .calc-header
 {
     display: flex;
     flex-direction: row;
 }

 .calc-header h2
 {
     position: absolute;
     margin-left:6rem;
     color:white;
     margin-top: -23px;
 }

 .screen {
    margin-left: 0rem; 
    margin-top: 149px;
  }
  
  .calc {
    width: 5px;
    color: white;
  }
  
  .answer {
    color: white;
    font-size: 32px;
    text-align: right;
    width:20ch;
    overflow-wrap: break-word
  }

button{
    border: none;
    cursor: pointer;
}

.row
{
    margin-top: -359px;
    position: absolute;
}

.col{
padding: 1px;
}

.col-op, .col-op-end, .col-num{
    width:75.3px;
    height: 70px;
}

.col-eq-end{
    width:155px;
    height:68px;
}

.col-op, .col-op-end{
    background-color: #093A52;
    color:#01A6CB;
}

.col-num
{
    background-color: #0B1A2C;
    color:white;
}

#border-left{
    border-radius: 0px 0px 0px 23px;
}

.col-eq-end{
    background-color: #01A6CB;
    color:white;
}

#border-right{
    border-radius: 0px 0px 23px 0px;
}